# Dependencies
node_modules/

# Build Output
dist/
*.tsbuildinfo

# Packaging Artifacts
*.tgz
*.zip

# IDE/Editor
.idea/
.vscode/
*.swp
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
